<ion-header>
  <ion-navbar>
        
              <ion-buttons left>
                  <button ion-button icon-only menuToggle>
                    <ion-icon name="menu"></ion-icon></button>
                </ion-buttons>
            <ion-title>Gestor de encuestas</ion-title>
          </ion-navbar>
</ion-header>

<ion-content class="bg-image" padding>
    <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="Nombre de la encuesta" [(ngModel)]="nombre" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label>Fecha comienzo</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="DateStart"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Fecha fin</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="DateEnd"></ion-datetime>
            </ion-item>

            <ion-item>
            <ion-label style="color: black">Formato</ion-label>
             
            <ion-select [(ngModel)]="formato"  interface="popover">
                <ion-option value="U">Respuesta única</ion-option>
                <ion-option value="M">Respuestas multiples</ion-option>
                <ion-option value="P">Respuesta propia</ion-option>
              </ion-select>
            </ion-item>
            
            <ion-item *ngIf="formato!='P'">
              <ion-label style="color: black">Cantidad de Respuestas</ion-label>
              <ion-select [(ngModel)]="cantidad" interface="popover" (ionChange)="mychange($event)">
                <ion-option value="1">1</ion-option>
                <ion-option value="2">2</ion-option>
                <ion-option value="3">3</ion-option>
                <ion-option value="4">4</ion-option>
                <ion-option value="5">5</ion-option>
              </ion-select>
            </ion-item>

            
            <ion-item>
              <ion-input type="text" placeholder="Pregunta" [(ngModel)]="question" required></ion-input>
            </ion-item>
            <br>
            <ion-list *ngFor="let item of cant">
            <ion-item *ngIf="item<=cantidad && formato!='P'" style="padding-top:0px;padding-bottom:0px;">
              <ion-input type="text" placeholder="Respuesta {{item}}" [(ngModel)]=option[item] required></ion-input>
            </ion-item>
            </ion-list>
            
    </ion-list>
    <button ion-button  (click)="AgregarQuestion()" color="encuestas" [disabled]="question==null ||  question==''" full >Agregar Pregunta</button>
    <button ion-button  (click)="SubirQuestion()" color="encuestas" full [disabled]="encuesta.length == 0" >Subir Cuestionario</button>
</ion-content>