page-gestor-encuestas {
    .bg-image 
    { background-image: url("../assets/imgs/fondoMenu.png"); 
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover; 
    }
}
