<!--
  Generated template for the ListaEncuestasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>Encuestas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-image" padding>
    <!--<ion-list style="background-color:bisque;text-align:center;">
        <ion-item *ngFor="let item of encuesta" >
          <ion-list>
            {{ item.question }}:
            <ion-item *ngIf="item.tipo == 'P'">
                <ion-input color="encuestas" placeholder="Ingrese respuesta" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="item.tipo == 'U'">
              <ion-list *ngFor="let i of item.opciones">
                <input color="encuestas" type="radio" name={{item.name}}> <label>{{ i }}</label>
              </ion-list>
            </ion-item>
            <ion-item *ngIf="item.tipo == 'M'">
              <ion-list *ngFor="let i of item.opciones">
                <input color="encuestas" type="checkbox" name={{item.name}}> <label>{{ i }}</label>
              </ion-list>
            </ion-item>  
            <button ion-button color="encuestas">Enviar respuesta</button>
          </ion-list>
        </ion-item> 
    </ion-list> -->
    <h4>Cuestionarios  de :</h4>
    <ion-item>
    <ion-list *ngFor="let item of Cuestionarios ">
      <button ion-button  full color="encuestas" (click)="RealizarCuestionario(item.Nombre)">{{item.Nombre}}</button>
    </ion-list>
    </ion-item>
</ion-content>
