page-registro-pro-adm {
    table {
        width: 100%;
        border: 1px solid #000;
     }
     th, td {
        width: 25%;
        text-align: center;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 0.3em;
     }
     caption {
        padding: 0.3em;
     }

     .bg-image 
     { background-image: url("../assets/imgs/fondoMenu.png"); 
         background-repeat: no-repeat; 
         background-position: center; 
         background-size: cover; 
     }
}
